/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f2f5;
}

/* Estilos del header */
header {
    background-color: #2b78c1;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

nav {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #1557b0;
}

/* Estilos del formulario */

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}


button[type="submit"]:hover {
    background-color: #1557b0;
}

/* Estilos para el título */
h2 {
    text-align: center;
    color: #1a73e8;
    margin-bottom: 2rem;
}

.formulario{
    width: 320px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #69a7e2;
    border-radius: 12px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
    background-color: #2b78c1;
}

.imagePreview{
    width: 120px;
    height: 120;
    border-radius: 10%;
    display: block;
    margin: 10px auto;
    border: 2px solid #ccc;
}